<meta charset="utf-8">
<form name="editForm" role="form" novalidate ng-submit="ctrl.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
		<h4 class="modal-title" id="myUserLabel">ajoute d'un Flux de
			Trésorerie</h4>
	</div>
	<div class="modal-body">
		<fieldset class="scheduler-border">
				<legend class="scheduler-border">Flux Trésorerie</legend>
		<div class="row">
		 
		 <div class="col-lg-4">
		 <div class="form-group">
			<label>Code </label> <input type="text"
				class="form-control" name="code"
				ng-model="ctrl.flux.codeFluxTresorerie" required>
		</div>
		 </div>
		
		<div class="col-lg-6">
		<div class="form-group">
			<label>Libellé</label> <input type="text"
				class="form-control" name="code"
				ng-model="ctrl.flux.libelleFluxTresorerie">
		</div>
		</div>
		
		<div class="col-lg-3">
		<div class="form-group">
			<label>Nature</label> <select
				class="form-control" name="code"
				ng-model="ctrl.flux.natureFlux">
				<option value="debit">debit</option>
				<option value="credit">credit</option>
				</select>
		</div>
		</div>
		
		</div>
		
		

	</div>



	</div>


	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="ctrl.cancel()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Quitter</span>
		</button>
		<button type="submit" ng-disabled="ctrl.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enregister</span>
		</button>
	</div>
</form>
